.sun-data-content {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5em;
  margin-left: 5em;
}

.sun-data-container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  color: #efecff;
  border: 1px solid white;
  background-color: #9e8bff1c;
  flex: 0.8;
  margin: 3em;
}

.nav-btn {
  color: white;
  font-family: "Gruppo", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-style: normal;
  border: 2px solid #9f8bff;
  background-color: #343cff;
  border-radius: 1rem;
  padding: 0.5em;
  padding-left: 1.75em;
  padding-right: 1.75em;
  transition: 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: #9f8bff;
  color: #0d0149;
  transition: 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .sun-data-content {
    flex-direction: column;
  }
}
