
.moon-data-content {
  margin-top: 20vh;
  display: flex;
  flex-wrap: wrap;
  margin-right: 15vw;
  margin-left: 15vw;

}

@media (max-width: 768px) {
  .moon-data-content {
    flex-direction: column;
  }
}

.moon-data-table td {
  padding: 0.2em;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.moon-data-table tbody tr .variable {
  text-align:start;
  font-weight: bold;
}

.moon-data-table tbody tr td .moon-phase {
  text-align: start;
  color: rgba(255, 255, 255, 0.377);
  font-size:1.5em;
}

.inner-info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}

.moon-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5em;
  padding-left: 5em;
}